.xmonad/prompt-history
.xmonad/xmonad-*
.xmonad/xmonad.errors
.xmonad/xmonad.o
.xmonad/xmonad.hi
.xmonad/prompt-history
.vim/plugged/**/
.config/fish/fish_variables
.config/fish/completions/
.config/fish/conf.d
.config/fish/functions
