.xmonad/prompt-history
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.o
.xmonad/xmonad.hi
.xmonad/prompt-history
.xmonad/.stack-work
.vim/plugged/**/
.config/fish/fish_variables
.config/fish/completions/
.config/fish/conf.d
.config/fish/functions
.config/lvim/plugin/**
